<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="producerService" class="com.masikkk.jms.spring.api.ProducerServiceImpl">
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		<property name="destination" ref="queueDestination"></property>
	</bean>
</beans>